{
    "schemes": ["https","http"],
    "swagger": "2.0",
    "info": {
        "description": "API de consulta Tabela FIPE fornece preços médios de veículos no mercado nacional. Atualizada mensalmente com dados extraidos da tabela FIPE. \n\nEssa API Fipe utiliza banco de dados próprio, onde todas as requisições acontecem internamente, sem sobrecarregar o Web Service da Fipe, evitando assim bloqueios por múltiplos acessos. \n\nA API está online desde 2015 e totalmente gratuíta. Gostaria que ele continuasse gratuíta? O que acha de me pagar uma cerveja? 🍺 \n\n [![Make a donation](https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_donateCC_LG.gif)](https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=QUPMYWH6XAC5G) \n ### Fipe API SDKs\n - [Fipe Go SDK](https://pkg.go.dev/github.com/parallelum/fipe-go)\n - [Fipe .NetCore Nuget SDK](https://www.nuget.org/packages/Br.Com.Parallelum.Fipe/)\n - [Fipe Javascript SDK](https://github.com/deividfortuna/fipe-promise)\n ",
        "title": "Fipe API",
        "contact": {
            "name": "Deivid Fortuna",
            "url": "https://deividfortuna.github.io/fipe/v2/",
            "email": "deividfortuna@gmail.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://github.com/deividfortuna/fipe/blob/master/LICENSE.md"
        },
        "version": "2.0.0"
    },
    "host": "fipe.parallelum.com.br",
    "basePath": "/api/v2",
    "paths": {
        "/references": {
            "get": {
                "description": "Returns months and codes reference from Fipe",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Fipe"
                ],
                "summary": "Fipe month references",
                "operationId": "GetReferences",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/domain.Reference"
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{vehicleType}/brands": {
            "get": {
                "description": "Returns brands for the type of vehicle",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Fipe"
                ],
                "summary": "Brands by type",
                "operationId": "GetBrandsByType",
                "parameters": [
                    {
                        "enum": [
                            "cars",
                            "motorcycles",
                            "trucks"
                        ],
                        "type": "string",
                        "example": "cars",
                        "description": "Vehicle type",
                        "name": "vehicleType",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 278,
                        "description": "Reference month and year",
                        "name": "reference",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/domain.VehicleBrand"
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{vehicleType}/brands/{brandId}/models": {
            "get": {
                "description": "Returns models for the brand",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Fipe"
                ],
                "summary": "Get vehicle models by brand",
                "operationId": "GetModelsByBrand",
                "parameters": [
                    {
                        "enum": [
                            "cars",
                            "motorcycles",
                            "trucks"
                        ],
                        "type": "string",
                        "example": "cars",
                        "description": "Vehicle type",
                        "name": "vehicleType",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 59,
                        "description": "Brand id",
                        "name": "brandId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 278,
                        "description": "Reference month and year",
                        "name": "reference",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/domain.VehicleModel"
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{vehicleType}/brands/{brandId}/models/{modelId}/years": {
            "get": {
                "description": "Returns years for the specific model",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Fipe"
                ],
                "summary": "Get years by model",
                "operationId": "GetYearsByModel",
                "parameters": [
                    {
                        "enum": [
                            "cars",
                            "motorcycles",
                            "trucks"
                        ],
                        "type": "string",
                        "example": "cars",
                        "description": "Vehicle type",
                        "name": "vehicleType",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 59,
                        "description": "Brand id",
                        "name": "brandId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 5940,
                        "description": "Model id",
                        "name": "modelId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 278,
                        "description": "Reference month and year",
                        "name": "reference",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/domain.VehicleYear"
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{vehicleType}/brands/{brandId}/models/{modelId}/years/{yearId}": {
            "get": {
                "description": "Returns the Fipe information for the vehicle (price estimation)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Fipe"
                ],
                "summary": "Fipe info",
                "operationId": "GetFipeInfo",
                "parameters": [
                    {
                        "enum": [
                            "cars",
                            "motorcycles",
                            "trucks"
                        ],
                        "type": "string",
                        "example": "cars",
                        "description": "Vehicle type",
                        "name": "vehicleType",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 59,
                        "description": "Brand id",
                        "name": "brandId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 5940,
                        "description": "Model id",
                        "name": "modelId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "example": "2014-3",
                        "description": "Year",
                        "name": "yearId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 278,
                        "description": "Reference month and year",
                        "name": "reference",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/domain.VehicleDetail"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{vehicleType}/brands/{brandId}/years": {
            "get": {
                "description": "Returns years for the brand",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Fipe"
                ],
                "summary": "Get vehicle years by brand",
                "operationId": "GetYearsByBrand",
                "parameters": [
                    {
                        "enum": [
                            "cars",
                            "motorcycles",
                            "trucks"
                        ],
                        "type": "string",
                        "example": "cars",
                        "description": "Vehicle type",
                        "name": "vehicleType",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 59,
                        "description": "Brand id",
                        "name": "brandId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 278,
                        "description": "Reference month and year",
                        "name": "reference",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/domain.VehicleYear"
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{vehicleType}/brands/{brandId}/years/{yearId}/models": {
            "get": {
                "description": "Returns models for the brand and year",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Fipe"
                ],
                "summary": "Get vehicle models by brand and year",
                "operationId": "GetYearByModel",
                "parameters": [
                    {
                        "enum": [
                            "cars",
                            "motorcycles",
                            "trucks"
                        ],
                        "type": "string",
                        "example": "cars",
                        "description": "Vehicle type",
                        "name": "vehicleType",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 59,
                        "description": "Brand id",
                        "name": "brandId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "example": "2014-3",
                        "description": "Year",
                        "name": "yearId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 278,
                        "description": "Reference month and year",
                        "name": "reference",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/domain.VehicleModel"
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{vehicleType}/{fipeCode}/years": {
            "get": {
                "description": "Returns the years available for the vehicle by FIPE code",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Search by Fipe code"
                ],
                "summary": "Get years by FIPE code vehicle",
                "operationId": "GetYearsByFipeCode",
                "parameters": [
                    {
                        "enum": [
                            "cars",
                            "motorcycles",
                            "trucks"
                        ],
                        "type": "string",
                        "example": "cars",
                        "description": "Vehicle type",
                        "name": "vehicleType",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "example": "004278-1",
                        "description": "FIPE code",
                        "name": "fipeCode",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 278,
                        "description": "Reference month and year",
                        "name": "reference",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/domain.VehicleYear"
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{vehicleType}/{fipeCode}/years/{yearId}": {
            "get": {
                "description": "Returns the Fipe information for the vehicle (price estimation)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Search by Fipe code"
                ],
                "summary": "Get vehicle details by FIPE code",
                "operationId": "GetInfoByFipeCode",
                "parameters": [
                    {
                        "enum": [
                            "cars",
                            "motorcycles",
                            "trucks"
                        ],
                        "type": "string",
                        "example": "cars",
                        "description": "Vehicle type",
                        "name": "vehicleType",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "example": "004278-1",
                        "description": "FIPE code",
                        "name": "fipeCode",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "example": "2014-3",
                        "description": "Year",
                        "name": "yearId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 278,
                        "description": "Reference month and year",
                        "name": "reference",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/domain.VehicleDetail"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{vehicleType}/{fipeCode}/years/{yearId}/history": {
            "get": {
                "description": "Returns the price history for the vehicle",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Search by Fipe code"
                ],
                "summary": "Get vehicle history by FIPE code",
                "operationId": "GetHistoryByFipeCode",
                "parameters": [
                    {
                        "enum": [
                            "cars",
                            "motorcycles",
                            "trucks"
                        ],
                        "type": "string",
                        "example": "cars",
                        "description": "Vehicle type",
                        "name": "vehicleType",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "example": "004278-1",
                        "description": "FIPE code",
                        "name": "fipeCode",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "example": "2014-3",
                        "description": "Year",
                        "name": "yearId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 278,
                        "description": "Reference month and year",
                        "name": "reference",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/domain.VehicleDetail"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "domain.PriceHistory": {
            "type": "object",
            "properties": {
                "month": {
                    "type": "string",
                    "example": "abril de 2024"
                },
                "price": {
                    "type": "string",
                    "example": "R$ 10.000,00"
                },
                "reference": {
                    "type": "string",
                    "example": "308"
                }
            }
        },
        "domain.Reference": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string",
                    "example": "308"
                },
                "month": {
                    "type": "string",
                    "example": "abril de 2024"
                }
            }
        },
        "domain.VehicleBrand": {
            "description": "Brand of a vehicle",
            "type": "object",
            "properties": {
                "code": {
                    "description": "Brand code",
                    "type": "string",
                    "example": "23"
                },
                "name": {
                    "description": "Brand name",
                    "type": "string",
                    "example": "VW - VolksWagen"
                }
            }
        },
        "domain.VehicleDetail": {
            "description": "Vehicle details",
            "type": "object",
            "properties": {
                "brand": {
                    "description": "Brand of the vehicle",
                    "type": "string",
                    "example": "VW - VolksWagen"
                },
                "codeFipe": {
                    "description": "Unique Fipe identifier",
                    "type": "string",
                    "example": "005340-6"
                },
                "fuel": {
                    "description": "Fuel used by the vehicle",
                    "type": "string",
                    "example": "Diesel"
                },
                "fuelAcronym": {
                    "description": "Fuel acronym (eg. G)",
                    "type": "string",
                    "example": "D"
                },
                "model": {
                    "description": "Model of the vehicle",
                    "type": "string",
                    "example": "AMAROK High.CD 2.0 16V TDI 4x4 Dies. Aut"
                },
                "modelYear": {
                    "description": "Year of vehicle production",
                    "type": "integer",
                    "example": 2014
                },
                "price": {
                    "description": "Price in Brazilian Real",
                    "type": "string",
                    "example": "R$ 10.000,00"
                },
                "priceHistory": {
                    "description": "Price history",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/domain.PriceHistory"
                    }
                },
                "referenceMonth": {
                    "description": "Month of the price",
                    "type": "string",
                    "example": "abril de 2024"
                },
                "vehicleType": {
                    "description": "Vehicle type code",
                    "type": "integer",
                    "example": 1
                }
            }
        },
        "domain.VehicleModel": {
            "description": "Model of a vehicle",
            "type": "object",
            "properties": {
                "code": {
                    "description": "Model code",
                    "type": "string",
                    "example": "5585"
                },
                "name": {
                    "description": "Model name",
                    "type": "string",
                    "example": "AMAROK CD2.0 16V/S CD2.0 16V TDI 4x2 Die"
                }
            }
        },
        "domain.VehicleYear": {
            "description": "Year of a vehicle",
            "type": "object",
            "properties": {
                "code": {
                    "description": "Year code",
                    "type": "string",
                    "example": "2022-3"
                },
                "name": {
                    "description": "Year name",
                    "type": "string",
                    "example": "2022 Diesel"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Read more about FIPE API",
        "url": "https://github.com/deividfortuna/fipe"
    }
}