{
    "schemes": ["https"],
    "swagger": "2.0",
    "info": {
        "description": "A API de consulta da Tabela FIPE fornece preços médios de veículos no mercado nacional. É atualizada mensalmente com dados extraídos da tabela FIPE.\n\nEsta API da FIPE utiliza um banco de dados próprio, onde todas as requisições acontecem internamente, sem sobrecarregar o Web Service da FIPE, evitando assim bloqueios por múltiplos acessos.\n\nA API está online desde 2015 e é totalmente gratuita, fornecendo dados de veículos, motos e caminhões. Embora a API seja gratuita, ela é limitada a 500 requisições não autenticadas por dia (24h). Se você criar um token de acesso [gratuito aqui](https://fipe.online/register), poderá fazer até 1.000 requisições por dia (24h).\n\nCaso você precise de **requisições ilimitadas** e acesso a **1 ano de histórico de preços**, além de **download completo em CSV**, considere contratar um plano de suporte por meio do site [fipe.online](fipe.online).",
        "title": "Fipe API",
        "contact": {
            "name": "Deivid Fortuna",
            "url": "https://fipe.online",
            "email": "deividfortuna@gmail.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://github.com/deividfortuna/fipe/blob/master/LICENSE.md"
        },
        "version": "2.0.0"
    },
    "host": "fipe.parallelum.com.br",
    "basePath": "/api/v2",
    "paths": {
        "/references": {
            "get": {
                "description": "Retorna as referências de meses e códigos da Fipe",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Fipe"
                ],
                "summary": "Referências de meses da Fipe",
                "operationId": "GetReferences",
                "parameters": [
                    {
                        "type": "string",
                        "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiZW1haWwiOiJleGFtcGxlLmNvbSIsImlhdCI6MTUxNjIzOTAyMn0.CmNu23cNxIhxZa9TABqIPD2t3Ja6Vmu_B0l2DJfiIaA",
                        "description": "Token de assinatura (https://fipe.online)",
                        "name": "X-Subscription-Token",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/domain.Reference"
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{vehicleType}/brands": {
            "get": {
                "description": "Retorna as marcas para o tipo de veículo",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Fipe"
                ],
                "summary": "Marcas por tipo",
                "operationId": "GetBrandsByType",
                "parameters": [
                    {
                        "type": "string",
                        "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiZW1haWwiOiJleGFtcGxlLmNvbSIsImlhdCI6MTUxNjIzOTAyMn0.CmNu23cNxIhxZa9TABqIPD2t3Ja6Vmu_B0l2DJfiIaA",
                        "description": "Token de assinatura (https://fipe.online)",
                        "name": "X-Subscription-Token",
                        "in": "header"
                    },
                    {
                        "enum": [
                            "cars",
                            "motorcycles",
                            "trucks"
                        ],
                        "type": "string",
                        "example": "cars",
                        "description": "Tipo de veículo",
                        "name": "vehicleType",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 278,
                        "description": "Mês e ano de referência",
                        "name": "reference",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/domain.VehicleBrand"
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{vehicleType}/brands/{brandId}/models": {
            "get": {
                "description": "Retorna os modelos para a marca",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Fipe"
                ],
                "summary": "Obter modelos de veículos por marca",
                "operationId": "GetModelsByBrand",
                "parameters": [
                    {
                        "type": "string",
                        "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiZW1haWwiOiJleGFtcGxlLmNvbSIsImlhdCI6MTUxNjIzOTAyMn0.CmNu23cNxIhxZa9TABqIPD2t3Ja6Vmu_B0l2DJfiIaA",
                        "description": "Token de assinatura (https://fipe.online)",
                        "name": "X-Subscription-Token",
                        "in": "header"
                    },
                    {
                        "enum": [
                            "cars",
                            "motorcycles",
                            "trucks"
                        ],
                        "type": "string",
                        "example": "cars",
                        "description": "Tipo de veículo",
                        "name": "vehicleType",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 59,
                        "description": "ID da marca",
                        "name": "brandId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 278,
                        "description": "Mês e ano de referência",
                        "name": "reference",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/domain.VehicleModel"
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{vehicleType}/brands/{brandId}/models/{modelId}/years": {
            "get": {
                "description": "Retorna os anos para o modelo específico",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Fipe"
                ],
                "summary": "Obter anos por modelo",
                "operationId": "GetYearsByModel",
                "parameters": [
                    {
                        "type": "string",
                        "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiZW1haWwiOiJleGFtcGxlLmNvbSIsImlhdCI6MTUxNjIzOTAyMn0.CmNu23cNxIhxZa9TABqIPD2t3Ja6Vmu_B0l2DJfiIaA",
                        "description": "Token de assinatura (https://fipe.online)",
                        "name": "X-Subscription-Token",
                        "in": "header"
                    },
                    {
                        "enum": [
                            "cars",
                            "motorcycles",
                            "trucks"
                        ],
                        "type": "string",
                        "example": "cars",
                        "description": "Tipo de veículo",
                        "name": "vehicleType",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 59,
                        "description": "ID da marca",
                        "name": "brandId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 5940,
                        "description": "ID do modelo",
                        "name": "modelId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 278,
                        "description": "Mês e ano de referência",
                        "name": "reference",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/domain.VehicleYear"
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{vehicleType}/brands/{brandId}/models/{modelId}/years/{yearId}": {
            "get": {
                "description": "Retorna as informações da Fipe para o veículo (estimativa de preço)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Fipe"
                ],
                "summary": "Informações da Fipe",
                "operationId": "GetFipeInfo",
                "parameters": [
                    {
                        "type": "string",
                        "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiZW1haWwiOiJleGFtcGxlLmNvbSIsImlhdCI6MTUxNjIzOTAyMn0.CmNu23cNxIhxZa9TABqIPD2t3Ja6Vmu_B0l2DJfiIaA",
                        "description": "Token de assinatura (https://fipe.online)",
                        "name": "X-Subscription-Token",
                        "in": "header"
                    },
                    {
                        "enum": [
                            "cars",
                            "motorcycles",
                            "trucks"
                        ],
                        "type": "string",
                        "example": "cars",
                        "description": "Tipo de veículo",
                        "name": "vehicleType",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 59,
                        "description": "ID da marca",
                        "name": "brandId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 5940,
                        "description": "ID do modelo",
                        "name": "modelId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "example": "2014-3",
                        "description": "Ano",
                        "name": "yearId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 278,
                        "description": "Mês e ano de referência",
                        "name": "reference",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/domain.VehicleDetail"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{vehicleType}/brands/{brandId}/years": {
            "get": {
                "description": "Retorna os anos para a marca",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Fipe"
                ],
                "summary": "Obter anos de veículos por marca",
                "operationId": "GetYearsByBrand",
                "parameters": [
                    {
                        "type": "string",
                        "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiZW1haWwiOiJleGFtcGxlLmNvbSIsImlhdCI6MTUxNjIzOTAyMn0.CmNu23cNxIhxZa9TABqIPD2t3Ja6Vmu_B0l2DJfiIaA",
                        "description": "Token de assinatura (https://fipe.online)",
                        "name": "X-Subscription-Token",
                        "in": "header"
                    },
                    {
                        "enum": [
                            "cars",
                            "motorcycles",
                            "trucks"
                        ],
                        "type": "string",
                        "example": "cars",
                        "description": "Tipo de veículo",
                        "name": "vehicleType",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 59,
                        "description": "ID da marca",
                        "name": "brandId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 278,
                        "description": "Mês e ano de referência",
                        "name": "reference",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/domain.VehicleYear"
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{vehicleType}/brands/{brandId}/years/{yearId}/models": {
            "get": {
                "description": "Retorna os modelos para a marca e ano",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Fipe"
                ],
                "summary": "Obter modelos de veículos por marca e ano",
                "operationId": "GetYearByModel",
                "parameters": [
                    {
                        "type": "string",
                        "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiZW1haWwiOiJleGFtcGxlLmNvbSIsImlhdCI6MTUxNjIzOTAyMn0.CmNu23cNxIhxZa9TABqIPD2t3Ja6Vmu_B0l2DJfiIaA",
                        "description": "Token de assinatura (https://fipe.online)",
                        "name": "X-Subscription-Token",
                        "in": "header"
                    },
                    {
                        "enum": [
                            "cars",
                            "motorcycles",
                            "trucks"
                        ],
                        "type": "string",
                        "example": "cars",
                        "description": "Tipo de veículo",
                        "name": "vehicleType",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 59,
                        "description": "ID da marca",
                        "name": "brandId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "example": "2014-3",
                        "description": "Ano",
                        "name": "yearId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 278,
                        "description": "Mês e ano de referência",
                        "name": "reference",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/domain.VehicleModel"
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{vehicleType}/{fipeCode}/years": {
            "get": {
                "description": "Retorna os anos disponíveis para o veículo por código FIPE",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Busca por código Fipe"
                ],
                "summary": "Obter anos por código FIPE do veículo",
                "operationId": "GetYearsByFipeCode",
                "parameters": [
                    {
                        "type": "string",
                        "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiZW1haWwiOiJleGFtcGxlLmNvbSIsImlhdCI6MTUxNjIzOTAyMn0.CmNu23cNxIhxZa9TABqIPD2t3Ja6Vmu_B0l2DJfiIaA",
                        "description": "Token de assinatura (https://fipe.online)",
                        "name": "X-Subscription-Token",
                        "in": "header"
                    },
                    {
                        "enum": [
                            "cars",
                            "motorcycles",
                            "trucks"
                        ],
                        "type": "string",
                        "example": "cars",
                        "description": "Tipo de veículo",
                        "name": "vehicleType",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "example": "004278-1",
                        "description": "Código FIPE",
                        "name": "fipeCode",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 278,
                        "description": "Mês e ano de referência",
                        "name": "reference",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/domain.VehicleYear"
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{vehicleType}/{fipeCode}/years/{yearId}": {
            "get": {
                "description": "Retorna as informações da Fipe para o veículo (estimativa de preço)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Busca por código Fipe"
                ],
                "summary": "Obter detalhes do veículo por código FIPE",
                "operationId": "GetInfoByFipeCode",
                "parameters": [
                    {
                        "type": "string",
                        "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiZW1haWwiOiJleGFtcGxlLmNvbSIsImlhdCI6MTUxNjIzOTAyMn0.CmNu23cNxIhxZa9TABqIPD2t3Ja6Vmu_B0l2DJfiIaA",
                        "description": "Token de assinatura (https://fipe.online)",
                        "name": "X-Subscription-Token",
                        "in": "header"
                    },
                    {
                        "enum": [
                            "cars",
                            "motorcycles",
                            "trucks"
                        ],
                        "type": "string",
                        "example": "cars",
                        "description": "Tipo de veículo",
                        "name": "vehicleType",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "example": "004278-1",
                        "description": "Código FIPE",
                        "name": "fipeCode",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "example": "2014-3",
                        "description": "Ano",
                        "name": "yearId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 278,
                        "description": "Mês e ano de referência",
                        "name": "reference",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/domain.VehicleDetail"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{vehicleType}/{fipeCode}/years/{yearId}/history": {
            "get": {
                "description": "Retorna o histórico de preços do veículo",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Busca por código Fipe"
                ],
                "summary": "Obter histórico do veículo por código FIPE",
                "operationId": "GetHistoryByFipeCode",
                "parameters": [
                    {
                        "type": "string",
                        "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiZW1haWwiOiJleGFtcGxlLmNvbSIsImlhdCI6MTUxNjIzOTAyMn0.CmNu23cNxIhxZa9TABqIPD2t3Ja6Vmu_B0l2DJfiIaA",
                        "description": "Token de assinatura (https://fipe.online)",
                        "name": "X-Subscription-Token",
                        "in": "header"
                    },
                    {
                        "enum": [
                            "cars",
                            "motorcycles",
                            "trucks"
                        ],
                        "type": "string",
                        "example": "cars",
                        "description": "Tipo de veículo",
                        "name": "vehicleType",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "example": "004278-1",
                        "description": "Código FIPE",
                        "name": "fipeCode",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "example": "2014-3",
                        "description": "Ano",
                        "name": "yearId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 278,
                        "description": "Mês e ano de referência",
                        "name": "reference",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/domain.VehicleDetail"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "domain.PriceHistory": {
            "type": "object",
            "properties": {
                "month": {
                    "type": "string",
                    "example": "abril de 2024"
                },
                "price": {
                    "type": "string",
                    "example": "R$ 10.000,00"
                },
                "reference": {
                    "type": "string",
                    "example": "308"
                }
            }
        },
        "domain.Reference": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string",
                    "example": "308"
                },
                "month": {
                    "type": "string",
                    "example": "abril de 2024"
                }
            }
        },
        "domain.VehicleBrand": {
            "description": "Marca de um veículo",
            "type": "object",
            "properties": {
                "code": {
                    "description": "Código da marca",
                    "type": "string",
                    "example": "23"
                },
                "name": {
                    "description": "Nome da marca",
                    "type": "string",
                    "example": "VW - VolksWagen"
                }
            }
        },
        "domain.VehicleDetail": {
            "description": "Detalhes do veículo",
            "type": "object",
            "properties": {
                "brand": {
                    "description": "Marca do veículo",
                    "type": "string",
                    "example": "VW - VolksWagen"
                },
                "codeFipe": {
                    "description": "Identificador único da Fipe",
                    "type": "string",
                    "example": "005340-6"
                },
                "fuel": {
                    "description": "Combustível usado pelo veículo",
                    "type": "string",
                    "example": "Diesel"
                },
                "fuelAcronym": {
                    "description": "Sigla do combustível (ex. G)",
                    "type": "string",
                    "example": "D"
                },
                "model": {
                    "description": "Modelo do veículo",
                    "type": "string",
                    "example": "AMAROK High.CD 2.0 16V TDI 4x4 Dies. Aut"
                },
                "modelYear": {
                    "description": "Ano de fabricação do veículo",
                    "type": "integer",
                    "example": 2014
                },
                "price": {
                    "description": "Preço em Real brasileiro",
                    "type": "string",
                    "example": "R$ 10.000,00"
                },
                "priceHistory": {
                    "description": "Histórico de preços",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/domain.PriceHistory"
                    }
                },
                "referenceMonth": {
                    "description": "Mês do preço",
                    "type": "string",
                    "example": "abril de 2024"
                },
                "vehicleType": {
                    "description": "Código do tipo de veículo",
                    "type": "integer",
                    "example": 1
                }
            }
        },
        "domain.VehicleModel": {
            "description": "Modelo de um veículo",
            "type": "object",
            "properties": {
                "code": {
                    "description": "Código do modelo",
                    "type": "string",
                    "example": "5585"
                },
                "name": {
                    "description": "Nome do modelo",
                    "type": "string",
                    "example": "AMAROK CD2.0 16V/S CD2.0 16V TDI 4x2 Die"
                }
            }
        },
        "domain.VehicleYear": {
            "description": "Ano de um veículo",
            "type": "object",
            "properties": {
                "code": {
                    "description": "Código do ano",
                    "type": "string",
                    "example": "2022-3"
                },
                "name": {
                    "description": "Nome do ano",
                    "type": "string",
                    "example": "2022 Diesel"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Read more about FIPE API",
        "url": "https://fipe.online"
    }
}