<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8" />
        <title>{{title}}</title>
        <meta name="author" content="Deivid Fortuna">
        <meta name="Description"
            content="API de Consulta Tabela FIPE fornece preços médios de veículos no mercado nacional através de um serviço RESTful HTTP Json. Atualizada mensalmente com dados extraidos da tabela FIPE">
        <meta name="Keywords" content="fipe api json http restful carro motos caminhoes veiculos atualizada php javascript">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta itemprop="image" content="https://raw.githubusercontent.com/deividfortuna/fipe-promise/feature/readme/content/icon.svg">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://deividfortuna.github.io/fipe/v2/">
        <meta property="og:title" content="Fipe API (2.0.0)">
        <meta property="og:description" content="API de Consulta Tabela FIPE fornece preços médios de veículos no mercado nacional através de um serviço RESTful HTTP Json. Atualizada mensalmente com dados extraidos da tabela FIPE">
        <meta property="og:image" content="https://raw.githubusercontent.com/deividfortuna/fipe-promise/feature/readme/content/icon.svg">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://deividfortuna.github.io/fipe/v2/">
        <meta property="twitter:title" content="Fipe API (2.0.0)">
        <meta property="twitter:description" content="API de Consulta Tabela FIPE fornece preços médios de veículos no mercado nacional através de um serviço RESTful HTTP Json. Atualizada mensalmente com dados extraidos da tabela FIPE">
        <meta property="twitter:image" content="https://raw.githubusercontent.com/deividfortuna/fipe-promise/feature/readme/content/icon.svg">
        <style>
            @import url('https://fonts.googleapis.com/css?family=Roboto:400,600,800');
            body {
            padding: 0;
            margin: 0;
            }
        </style>
        {{{redocHead}}}
        {{#unless disableGoogleFont}}<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">{{/unless}}
    </head>
    <body>
      {{{redocHTML}}}
    </body>
</html>